@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for dark mode */
.dark ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: #292524;
}

.dark ::-webkit-scrollbar-thumb {
  background: #57534e;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #78716c;
}
